<div id="login-page-main" fxLayout="column" fxLayoutAlign="center center">
    <mat-card id="login-page-card" class="mat-elevation-z8" style="background-color: #f1faee"> 

        <mat-card-header style="text-align:center;" fxLayout="row" fxLayoutAlign="center center">
            <div mat-card-avatar id="login-header-image"></div>
            <mat-card-title id="login-header-title">Discover Chat</mat-card-title>
        </mat-card-header>

        <form [formGroup]="signupForm" style="padding-top: 30px;" fxLayout="column" fxLayoutAlign="space-around center" name="signupForm" id="login-form" (ngSubmit)="onSubmit()" #updateSignupForm="ngForm" novalidate>
         

            <mat-form-field id="name-field" fxFlex.xs="100%" fxflex.gt-xs="60%" floatlabel="auto" appearance="outline">
                
                <mat-label id="name-input-label">Name</mat-label>
                <input id="name-input" type="text" matInput required formControlName="name">
                <mat-icon matSuffix class="secondary-text" style="color: #03045e;">person</mat-icon>
              
                <mat-error *ngIf="signupForm.get('name').hasError('required')">
                  Name is required.
                </mat-error>

            </mat-form-field>


            <mat-form-field id="name-field" floatlabel="auto" appearance="outline">
              <mat-label id="email-input-label">Email</mat-label>
              <input id="email-input" type="email" matInput required formControlName="email">
              <mat-icon matSuffix class="secondary-text" style="color: #03045e;">email</mat-icon>

              <mat-error *ngIf="signupForm.get('email').hasError('required')">
                Email is required.
              </mat-error>
              <mat-error *ngIf="signupForm.get('email').hasError('email')">
                Please enter a valid email.
              </mat-error>

            </mat-form-field>


            <mat-form-field id="password-field" floatlabel="auto" appearance="outline">

              <mat-label id="password-input-label">Password</mat-label>
              <input id="password-input" type="password" matInput required formControlName="password">
              <mat-icon matSuffix class="secondary-text" style="color: #03045e;">vpn_key</mat-icon>

              <mat-error *ngIf="signupForm.get('password').hasError('required')">
                Password is required.
              </mat-error>
              <mat-error *ngIf="signupForm.get('password').errors?.noSpace">
                Password must not contain space.
              </mat-error>
              <mat-error *ngIf="signupForm.get('password').hasError('minlength')">
                Password must contain at least 8 characters.
              </mat-error>

            </mat-form-field>

            <mat-form-field id="room-field" fxFlex.xs="100%" fxflex.gt-xs="60%" floatlabel="auto" appearance="outline">
              
              <mat-label id="room-select-label">Select room</mat-label>
              <mat-select id="room-select" formControlName='room' required>
                <mat-option>Javascript</mat-option>
                <mat-option>Python</mat-option>
                <mat-option>C++</mat-option>
              </mat-select>
              <!-- <mat-icon matSuffix class="secondary-text" style="color: #03045e;">meeting_room</mat-icon> -->
            
              <mat-error *ngIf="signupForm.get('room').hasError('required')">
                Room Name is required.
              </mat-error>
            </mat-form-field>

            <button class="signUpButton" type="submit" [disabled]="signupForm.invalid" mat-raised-button>Sign Up</button>
            <p style="padding-top: 5px;">Already have an account? <a [routerLink] = "['/']" class="signin">Sign in</a></p>
          </form>
    </mat-card>
</div>